# Build results
bin/
obj/

# Visual Studio specific
*.suo
*.user
*.aps
*.pch
*.vspscc
*.vssscc

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/

# NuGet Packages
packages/

# Entity Framework files
*.edmx

# MVC dependencies
App_Data/

# User Secrets file
*.usersecret

# Visual Studio Code
.vscode/

# .NET Core
*.log
*.log.h-
*.log.lock

# .NET Core Global Tools
.NETCoreApp/
.dotnet/

# .NET Core Tools
.dotnet-cli-telemetry.json
/BugBullyDB/BugBullyDB.dbmdl
/BugBullyDB/BugBullyDB.jfm
/.vs/BugBully/FileContentIndex/read.lock
/.vs/BugBully/FileContentIndex/92a0e9b6-7881-4794-bf65-93a813c2b34a.vsidx
/.vs/BugBully/config/applicationhost.config
